
[Unit]
Description=Run RAID Watchdog every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=raid-watchdog.service

[Install]
WantedBy=timers.target
