# The location where your uploaded files are stored
UPLOAD_LOCATION=REPLACEME

# The location where your database files are stored.
DB_DATA_LOCATION=REPLACEME
THUMB_LOCATION=REPLACEME
ENCODED_VIDEO_LOCATION=REPLACEME

# The Immich version to use
IMMICH_VERSION=REPLACEME

# Connection secret for postgres.
# CHANGED: Removed special character '^' to prevent connection errors
DB_PASSWORD=REPLACEME

# Connection Hostnames (Must match service names in docker-compose.yml)
DB_HOSTNAME=REPLACEME
REDIS_HOSTNAME=REPLACEME

# Database User/Name
DB_USERNAME=REPLACEME
DB_DATABASE_NAME=REPLACEME
